body{
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
    background-color: rgb(196, 161, 118);
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnguess{
    background-color: cornflowerblue;
    color: brown;
    border-radius: 2rem;
}
